//###### 博客内容透明化 ######
//
//:root {
//  --content-bg-color:#ffffffe6;
//}

//###### 博客内容透明化 ######

//设置背景
body {
 	//background:url(/images/background.jpg);
    background:url(https://source.unsplash.com/random/1600x900);
 	background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%;
}


//文章内容的透明度设置
.post-block {
  background: rgba(255,255,255,0.7) none repeat scroll !important;
}

//分页(主页最下面的那一小块)
.pagination {
  background: rgba(255,255,255,0.7);
}

//菜单栏背景
.header-inner {
  background: rgba(255,255,255,0.7);
}

//侧边框的透明度设置
.sidebar-inner {
  background: rgba(255,255,255,0.7) none repeat scroll !important;
}

//搜索框（local-search）的透明度设置
.popup {
  opacity: 0.7;
}

//评论区
.comments {
  background: rgba(255,255,255,0.7);
}

